.flexbox-container {
    display: flex;
    flex-direction: row;
}

.left {
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
  }

  .centre {
    position: absolute;
    left: 300px;
    width: 300px;
    padding: 10px;
  }